{% extends 'base.html' %}


{% block container %}

<div class="div-message">
    {%include 'partials/messages.html'%}
</div>

<form method="POST" action="{%url 'home'%}">
    {%csrf_token%}
    <div>
        <input class="form-control input-cpf-cnpj" name="cpf_cnpj" id="myInput" type="text"
        value="{{request.POST.cpf_cnpj}}"
            placeholder="CPF/CNPJ"></input>

    </div>
    <div class="div-btns">
        <input type="submit" name='action' class="btn btn-light" value="Adicionar">
        <input type="submit" name='action' class="btn btn-light" value="Buscar">
    </div>
</form>

<div class="table-documents">

    <table class="table">
        <thead>
          <tr>
            <th scope="col">id</th>
            <th scope="col">CPF/CNPJ</th>
            <th scope="col">Ações</th>
          </tr>
        </thead>
        <tbody>
        {% for document in documents %}
          <tr>
            <th scope="row">{{document.id}}</th>
            <td>{{document.cpf_cnpj}}</td>
            <td>
            <form method="POST" action="{%url 'home'%}">
                {%csrf_token%}
                <input type="submit" name='action' class="btn btn-danger" value="Excluir">

                <input class="form-control input-cpf-cnpj" name="cpf_cnpj" id="myInput" type="hidden"
                value="{{document.cpf_cnpj}}">
            </form>
            </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>

    <nav aria-label="Page navigation example">
        <ul class="pagination">
        {% for document in documents.paginator.page_range %}
        {% if documents.number == document %}
            <li class="page-item active"><a class="page-link" href="?p={{document}}&termo={{ request.GET.termo }}">{{document}}</a></li>
        {% else %}
            <li class="page-item"><a class="page-link" href="?p={{document}}&termo={{ request.GET.termo }}">{{document}}</a></li>
        {% endif %}
        {% endfor %}
        </ul>
    </nav>
</div>

</div>

{% endblock container %}